# Ignores
\.DS_Store
\.classpath
\.project
\.settings
\.metadata/
Servers/
target/
.idea
.vagrant
.vscode
*.deb

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
